* {
  margin: 0;
  padding: 0;
}
#line-chart-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#animate-chart-button {
  position: absolute; /* Position the button relative to the chart container */
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
